.secao-horizontal .cartao{
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 1.25rem;

}


.secao-horizontal .cartao__imagem {
    grid-area: 1/1/4/2;
}

.secao-horizontal .cartao__botao {
    grid-column: 3/4;
    grid-row: 1/4;
    

}

.secao-horizontal .cartao__titulo{
    align-self: end;
}